@font-face {
  font-family: 'Cabin';
  src: url("Cabin-Regular.ttf") format("truetype");
  /* Safari, Android, iOS */ }
@font-face {
  font-family: 'Cabin';
  src: url("Cabin-Medium.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-weight: 500; }
@font-face {
  font-family: 'Cabin';
  src: url("Cabin-MediumItalic.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-weight: 500;
  font-style: italic; }
body {
  font-family: "Cabin", sans-serif; }

body {
  font-family: 'Cabin', sans-serif; }

hr {
  border: 1px solid #eeeeee;
  width: 300px;
  margin: 25px auto; }

html, button, input, select, textarea,
.pure-g [class*="pure-u"] {
  /* Set your content font stack here: */
  font-family: "Cabin", sans-serif;
  letter-spacing: normal; }

.container {
  margin: 0 auto; }

.preview, .settings {
  margin-top: 10px; }

.quote-standard {
  position: relative;
  width: 540px;
  height: 540px;
  background-size: cover;
  padding: 30px;
  border: 1px solid #d3d3d3; }
  .quote-standard .inner-container {
    position: relative;
    border: 4px solid lightgray;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 100%; }
    .quote-standard .inner-container #brand-squared-logo {
      margin: 30px auto;
      width: 64px;
      height: 64px;
      background-image: url("../img/logo64x64.jpg"); }
    .quote-standard .inner-container #quote-text, .quote-standard .inner-container #quote-owner {
      letter-spacing: normal;
      text-align: center;
      font-style: italic;
      color: white;
      text-shadow: 1px 1px 3px #333333; }
      .quote-standard .inner-container #quote-text.placeholder, .quote-standard .inner-container #quote-owner.placeholder {
        color: lightgray !important;
        text-shadow: 0 0 0 !important; }
        .quote-standard .inner-container #quote-text.placeholder:after, .quote-standard .inner-container #quote-owner.placeholder:after {
          content: attr(data-placeholder); }
      .quote-standard .inner-container #quote-text.white, .quote-standard .inner-container #quote-owner.white {
        color: white;
        text-shadow: 1px 1px 3px #333333; }
      .quote-standard .inner-container #quote-text.gray, .quote-standard .inner-container #quote-owner.gray {
        color: lightgray;
        text-shadow: 1px 1px 3px #333333; }
    .quote-standard .inner-container #quote-text {
      padding: 20px 80px;
      font-size: 36px;
      font-weight: 500; }
    .quote-standard .inner-container #quote-owner {
      padding: 10px 20px;
      text-align: right;
      font-size: 30px; }

.settings {
  text-align: center; }

.carousel-img img {
  cursor: pointer;
  width: 250px;
  height: 250px; }

.palette {
  width: 300px;
  height: 35px;
  margin: 0 auto; }
  .palette > div {
    cursor: pointer; }
  .palette .white, .palette .gray {
    border: 1px solid #999999;
    width: 35px;
    height: inherit;
    display: inline-block; }
  .palette .white {
    background: white;
    margin-right: 10px; }
  .palette .gray {
    background: lightgray; }

/*# sourceMappingURL=create.css.map */
